@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap");

html {
	font-size: 10px;
}

body {
	font-family: "Public Sans", sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.375;
}

input {
	height: 40px;
	&.input__blue {
		color: #0050d8;
	}
}

select {
	padding: 9px 0;
}
select,
input {
	padding-left: 10px;
	border: 1px solid #adadad;
	border-radius: 4px;
	width: 100%;
	font-size: 1.6rem;
}

.main {
	max-width: 1440px;
	margin: 0 auto;
	background: #ffdfc4;
	.container {
		min-width: 700px;
		max-width: 1000px;
		margin: 0 auto;
		background-color: #f9f9f9;
	}
	&__body {
		color: #171717;
		padding: 64px 44px 110px;
	}
	& h1 {
		padding-left: 4px;
		margin-bottom: 79px;
	}
	& h3 {
		margin-bottom: 24px;
	}
	& .form {
		.information__block,
		.maternity__information,
		.official__use,
		.system__information {
			border-bottom: 2px solid #d1d1d1;
			margin-bottom: 32px;
		}
		.official__use,
		.system__information {
			& .input__flex {
				margin-bottom: 36px;
				> div {
					width: 43%;
				}
			}
		}
		.input__flex {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 22px;
			margin-bottom: 22px;
		}
		.input__flex2 {
			display: flex;
			justify-content: space-between;
			& > .block__checkbox {
				max-width: 43%;
			}
		}
		.block1 {
			max-width: 43%;
			margin-bottom: 5px;
			& input {
				margin-bottom: 22px;
			}
		}
		.block2 {
			width: 43%;
			.block__checkbox {
				padding-top: 133px;
				&.checkbox1 {
					margin-bottom: 48px;
				}
			}
			input,
			select {
				margin-bottom: 22px;
			}
		}
		.block3 {
			width: 43%;
			margin-bottom: 42px;
		}

		.block__checkbox {
			display: flex;
		}
		.checkbox1 {
			max-width: 24px;
			margin-right: 8px;
		}
		.label__checkbox {
			padding-top: 10px;
		}

		.input,
		.select {
			width: 43%;
		}
		.read__only {
			background-color: #e9e9e9;
			color: gray;
		}
		label {
			display: block;
			margin-bottom: 8px;
		}
		.background__arrow {
			background: url(../../img/arrow.svg) right 16px center no-repeat;
		}
		.background__loupe {
			background: url(../../img/loupe.svg) right 16px center no-repeat;
		}
	}
}
input[type="date"]::-webkit-calendar-picker-indicator {
	margin-right: 8px;
}

h1 {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1.17;
}
h2 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.2;
	margin-bottom: 32px;
}
h3 {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.43;
}

.red__span {
	color: #d83933;
}
.btn__next {
	float: right;
	overflow: hidden;
	padding: 9px 16px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.375;
	color: #fff;
	background-color: #0050d8;
}
