/* _reset.scss */
@import "./reset";
/* style.scss */
body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

a{
	.section__content &:visited{
		color:#2B4AB4;
	}
	.section__article &{
		color: #2B4AB4;
	}
	
	ol.bottom__ol li &{
		color:#000;
		text-decoration: underline;
	}
}

h1 {
	font-weight: 900;
	font-size: 48px;
	line-height: 1.33;
	letter-spacing: 0.02em;
}
h2{
	font-weight: 700;
	font-size: 32px;
	line-height: 1.32;
	letter-spacing: 0.02em;
}
h3{
	font-weight: 900;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.02em;
}

h4{
	font-weight: 700;
	font-size: 24px;
	line-height: 1.375;
	letter-spacing: 0.04em;
	color: #000000;
}

h5{
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #333;
	
}
h1,h2,h3{
	font-family: 'Playfair Display', serif;
	color: #333;
}
.header__container{
	max-width: 1396px;
	margin: 0 auto;
	padding: 12px 10px;
	.header__body{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header__input{
			display: flex;
			align-items: center;
			.input{
				margin-right: 32px;
				input{
					padding: 12px 176px 14px 16px;
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					color: #828282;
					background: url("../../img/loupe.svg") center right 12px no-repeat;
					&:focus{
						background: none;
					}
					&:focus::placeholder{
						color: white;
					}
				}
			}
			.input__buttons{
				display: flex;
				.btn__read{
					margin-right: 16px;
					font-weight: 700;
					font-size: 16px;
					line-height: 1.375;
					color: #0645AD;
				}
				.btn__edit{
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		.header__buttons{
			display: flex;
			.user__btn{
				display: flex;
				margin-right: 32px;
				font-weight: 400;
				font-size: 16px;
				line-height: 1.375;
				color: #333333;
				img{
					margin-right: 8px;
					align-items: center;
				}
			}
			.create__or__login{
				display: flex;
				.create__acc{
					margin-right: 16px;
					font-weight: 400;
					font-size: 16px;
					line-height: 1.375;
					color: #0645AD;
				}
			}
		}
	}
}
main{
	display: flex;
	justify-content: center;
	.section__chapters{
		.container__chapters{
			max-width: 235px;
			background-color: #f6f6f6;
			.chapters__body{
				>img{
					display: block;
					margin-bottom: 32px;
					padding: 0 32px;
				}
				>ul{
					background-color: #efefef;
					>li{											
						font-weight: 400;
						font-size: 16px;
						line-height: 1.5;
						letter-spacing: 0.06em;
						color: #333333;
						border-bottom: 2px solid #fff;
						>.li{
							padding: 8px 0;
							margin: 0 auto;
							max-width: 187px;
							display: flex;
							justify-content: space-between;
						}
					}
				}
			}
		}
	}
	.section__article{
		.container__article{
			
			max-width: 855px;
			margin: 0 4% 0 4%;
			.article__body{
				>h1{
					border-bottom: 1px solid #EFEFEF;
					padding:62px 0 16px 0;
					margin-bottom: 32px;
					&+h5{
						margin-bottom: 32px;
					}
				}
				>h2, >.education + h5,>.references + ul>li:last-child{
					margin-bottom: 16px;
				}
				>h3{
					margin-bottom: 8px;
				}
				>h5{
					&>span.person__name{
						font-weight: 700;
					}
				}
				>.biography + h5,>.education__subtitle + h5, >.supercomputing + h5, >.accolades ~ h5,
				>.selected__publications + ul>li:last-child,>.see__also + ul>li:last-child{
					margin-bottom: 32px;
				}
				>.external__links + ul>li:last-child{
					margin-bottom: 64px;
				}
				ol{
					margin-left: 30px;
				}
			}
		}
		
ul{
	li{
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.04em;
		color: #0B0A05;
		&::before{
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 16px;
			background: #284ACE;
			display: inline-block;
			position: relative;
			margin-right: 16px;
			top:-2px
		}
	}
}
	}
	.section__content{
		background-color: #f6f6f6;
		.container__content{
			min-width: 352px;
			.content__body{
				.img__philip{
					margin-bottom: 16px;
				}
				.content__title{
					padding-left: 23px;
					>.philip__word{
						font-weight: 400;
						font-size: 12px;
						line-height: 1.33;
						letter-spacing: 0.04em;
						color: rgba(0, 0, 0, 0.9);
						margin-bottom: 32px;
					}
					>h4{
						margin-bottom: 16px;
					}
				}
				.content__nav{
					max-width: 320px;
					padding-left: 51px;
					}
					
			}
		}
	}
	
}
ol{
	&.references{
		li{
			margin-bottom: 16px;
		}
	}
	li {
		display:block;
		position: relative;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.375;
		letter-spacing: 0.06em;
		color: #000000;
		counter-increment: item;
		margin-bottom: 8px;
		&:first-child {
			counter-reset: item;
		}
		&:before {
			content:counters(item, ".") ". ";
			position: absolute;
			margin-right: 100%; 
			right: 10px;
		}
		&.second__list{
			padding-left: 33px;
		}
		&.second__list::before{
			left: 0;
		}
	}
}
