@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins";
  font-style: normal;
  background-color: #212529;
  cursor: url("../../img/arrow.cur"), auto;
}

body a,
body button {
  cursor: url("../../img/hand.cur"), auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__body {
  max-width: 1342px;
  margin: 0 auto 108px auto;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 8px 0;
}

.header__nav {
  max-width: 429px;
}

.ul__nav {
  padding: 10px;
  display: flex;
}

.ul__nav > a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #ffffff;
}

.ul__nav > a:hover {
  transition: all 0.4s;
  color: #ffb742;
}

.ul__nav > a:not(a:last-child) {
  margin-right: 25px;
}

.btn__hire_me {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.66;
  color: #212529;
  padding: 12px 26px;
  border-radius: 30px;
  background-color: #ffb742;
}

.introduce__body {
  max-width: 1296px;
  margin: 0 auto 137px auto;
}

.introduce__body .introduce {
  max-width: 961px;
  margin: 0 auto;
  margin-bottom: 136px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.59;
  color: #ffffff;
}

.introduce__body .introduce a.author__introduce {
  text-decoration: underline;
  color: #ffb742;
}

.introduce__body .introduce .h1 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.125;
}

.introduce__body .statistic__list {
  display: flex;
  justify-content: space-between;
}

.introduce__body .statistic__list .list__item {
  width: 32.1%;
  padding: 28px 40px;
  background-color: #292b2e;
}

.introduce__body .statistic__list .list__item .item__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introduce__body .statistic__list .list__item .item__body .item__emblem {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  background-color: #e9e9e9;
}

.introduce__body .statistic__list .list__item .item__body .item__emblem img.emblem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introduce__body .statistic__list .list__item .item__body .item__text {
  max-width: 159px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.93;
  color: #ffffff;
}

.introduce__body .statistic__list .list__item .item__body .item__text span.number {
  display: block;
  font-size: 3.2rem;
  line-height: 1.25;
  color: #ffb742;
}

.introduce__body .statistic__list .list__item:hover {
  background-color: #ffb742;
  transition: all 0.5s;
}

.introduce__body .statistic__list .list__item:hover .item__text span.number,
.introduce__body .statistic__list .list__item:hover .item__text {
  color: #000;
  transition: all 1s;
}

.introduce__body .statistic__list .list__item:hover svg path {
  fill: #000;
}

.section__about {
  max-width: 1342px;
  margin: 0 auto;
}

.section__about .about__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.section__about .about__body .about__description {
  max-width: 682px;
  padding-top: 60px;
}

.work__body {
  max-width: 1234px;
  margin: 0 auto;
  padding-bottom: 116px;
}

.work__body .title {
  display: block;
  max-width: fit-content;
  margin: 0 auto 25px auto;
}

.work__body > h2 {
  text-align: center;
  line-height: 1.17;
  margin: 0 auto 30px;
}

.work__body .work__list {
  max-width: 652px;
  margin: 0 auto;
}

.work__body .work__list ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.work__body .work__list ul li {
  padding: 5px 20px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.875;
  color: #fff;
}

.work__body .work__list ul li:hover {
  color: #000;
  background-color: #ffb742;
  transition: all 0.8s;
}

.work__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.title {
  display: inline-block;
  margin-bottom: 25px;
  padding: 6px 25px;
  background-color: #33363a;
  color: #ffb742;
  border-radius: 50px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
}

.footer__body {
  padding: 148px 0 90px 0;
  background-color: #1c1c1c;
}

.footer__flex {
  max-width: 1342px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__flex h6 {
  margin-bottom: 15px;
}

.footer__flex .work__sans a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.798rem;
  line-height: 2;
  color: #7b7b7b;
}

.footer__flex .work__sans a > li {
  width: fit-content;
}

.footer__flex a:active,
.footer__flex h6:active,
.footer__flex .author__name:active {
  color: #ffb742;
  transition: all 0.4s;
}

.author {
  max-width: 231px;
}

.author__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1;
  color: #d4d4d4;
}

.author__activity {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2;
  color: #d4d4d4;
}

.newsletter {
  max-width: 300px;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.9;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 0.625;
  color: #ffffff;
  margin-bottom: 30px;
}

h3 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875;
  color: #d5d5d5;
  margin-bottom: 66px;
}

h6 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.16rem;
  line-height: 1.49;
  color: #f5fbf2;
}
