@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  background-color: #252C2F;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__body {
  max-width: 1342px;
  margin: 0 auto 108px auto;
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 8px 0;
}

.header__nav {
  max-width: 429px;
}

.ul__nav {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul__nav > a {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}

.ul__nav > a:hover {
  color: #FFB742;
}

.ul__nav > a:not(a:last-child) {
  margin-right: 25px;
}

.btn__hire_me {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  color: #212529;
  padding: 12px 26px;
  border-radius: 30px;
  background-color: #FFB742;
}

.main__body {
  margin-bottom: 116px;
}

.footer__body {
  padding: 148px 0 90px 0;
  background-color: #1c1c1c;
}

.footer__flex {
  max-width: 1342px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__flex h6 {
  margin-bottom: 15px;
}

.footer__flex .work__sans a {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 17.9888px;
  line-height: 2;
  color: #7B7B7B;
}

.footer__flex .work__sans a > li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__flex a:hover, .footer__flex h6:hover, .footer__flex .author__name:hover {
  color: #FFB742;
}

.author {
  max-width: 231px;
}

.author__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: #D4D4D4;
}

.author__activity {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
  color: #D4D4D4;
}

.newsletter {
  max-width: 300px;
}

h6 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21.5865px;
  line-height: 1.49;
  color: #F5FBF2;
}
