body {
  background: blanchedalmond;
}

main {
  margin: 30px auto;
  max-width: 900px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid > div {
  height: 100px;
  background-color: aqua;
}
