@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@1,700&display=swap");

html {
	font-size: 10px;
}
body {
	font-family: "Rosario", sans-serif;
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 1.22;
	color: #fffcfc;
}
