@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
}

.header {
  margin-bottom: 185px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #202846;
}

.header__title {
  background-color: #C6C6DC;
}

.header__title > h1 {
  padding: 39px 0 39px 227px;
}

.nav__logo {
  padding: 10px 0 10px 138px;
}

.nav__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__flex > div {
  max-width: 208px;
  margin-right: 44px;
  padding-right: 40px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__flex > div:not(div:last-child) {
  border-right: 4px solid #FFF;
}

.nav__flex > div > h3 {
  margin: 0 auto;
  text-align: center;
}

.nav__flex > div.planet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__flex > div.planet > img {
  margin-right: 8px;
}

.main {
  margin-bottom: 67px;
}

.main > .container {
  max-width: 1489px;
  margin: 0 auto;
}

.up__arrow {
  display: inline-block;
  position: fixed;
  right: 0px;
  bottom: 90px;
  padding: 29px 40px;
  border-radius: 100%;
  background: rgba(85, 87, 104, 0.62);
}

.house__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #bdbdc6;
}

.house__card:not(.house__card:last-child) {
  margin-bottom: 36px;
}

.house__img {
  padding: 28px 0;
}

.house__description {
  max-width: 712px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.house__description .line {
  border-bottom: 3px solid #fff;
  margin-bottom: 10px;
}

.house__text {
  padding: 21px 24px 28px 23px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  color: #202846;
  background: #D7D7DD;
}

svg {
  position: absolute;
  right: 17px;
  top: 17px;
}

svg path:hover {
  fill: gold;
}

.btn_details {
  padding: 15px 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.29;
  color: #fff;
  background: #202846;
  border-radius: 30px;
  position: absolute;
  bottom: 10px;
  right: -48px;
}

.footer__text {
  padding: 22px 0 22px 60px;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  color: #EEECF1;
  background: #202846;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.29;
  color: #202846;
}

h2 {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  color: #353C57;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;
  color: #FFFFFF;
}
