@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@1,700&display=swap");

html {
	font-size: 10px;
}
body {
	font-family: "Rosario", sans-serif;
	background-color: red;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}

header {
	.container {
		position: fixed;
		left: 0;
		right: 0;
		background-color: #000;
	}
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__logo {
			background-color: #fffbfb;
		}
		&__nav {
			width: 1024px;
			margin-right: 16px;
		}
		.navigation {
			display: flex;
			justify-content: space-between;
			max-width: 1024px;
			h6 {
				color: #fffcfc;
			}
		}
	}
}

h6 {
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 1.22;
	color: #fffcfc;
}
