@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 11px 0;
  background-color: #fff;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 35px;
}

.header .container {
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 10px;
}

.header .container .headerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .headerBody .headerLogo {
  display: flex;
  align-items: center;
}

.header .container .headerBody .headerLogo .logo {
  margin-right: 100px;
}

.header .container .headerBody .headerLogo input#location {
  width: 500px;
  padding: 15px 0;
  border: 2px solid #323232;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: 15px, 14px;
}

.header .container .headerBody .headerLogo input#location::placeholder {
  padding-left: 45px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #a1a1a1;
}

.header .container .headerBody .headerBtn > a {
  padding: 15px 20px;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #fff;
}

.header .container .headerBody .headerBtn .enter {
  background: #ef781a;
  margin-right: 30px;
}

.header .container .headerBody .headerBtn .basket {
  background: #00d008;
}
