@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #ffdab9;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
}

.header .container {
  padding-bottom: 25px;
  background-color: #ececec;
}

.header .container .header__body {
  background-color: #fff;
  box-shadow: 0 10px 4px -2px rgba(0, 0, 0, 0.25);
}

.header .container .header__body .header__block1 {
  border-bottom: 1px solid #c4c4c4;
}

.header .container .header__body .header__block1 .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
  max-width: 1218px;
  margin: 0 auto;
}

.header .container .header__body .header__block1 .header__nav .header__logo {
  display: flex;
  align-items: center;
}

.header .container .header__body .header__block1 .header__nav .header__logo .logo {
  margin-right: 100px;
}

.header .container .header__body .header__block1 .header__nav .header__logo input#location {
  width: 500px;
  padding: 15px 0 15px 45px;
  border: 2px solid #323232;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: url("../../img/location.svg");
  background-repeat: no-repeat;
  background-position: 15px, 14px;
}

.header .container .header__body .header__block1 .header__nav .header__logo input#location::placeholder {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #a1a1a1;
}

.header .container .header__body .header__block1 .header__nav .header__logo input#location:focus {
  background: none;
}

.header .container .header__body .header__block1 .header__nav .header__logo input#location:focus::placeholder {
  color: #fff;
}

.header .container .header__body .header__block1 .header__nav .header__logo .headerBtn > a {
  padding: 15px 20px;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #fff;
}

.header .container .header__body .header__block1 .header__nav .header__logo .headerBtn .enter {
  background: #ef781a;
  margin-right: 30px;
}

.header .container .header__body .header__block1 .header__nav .header__logo .headerBtn .basket {
  background: #00d008;
}

.header .container .header__body .header__block1 .header__nav .header__btn > a {
  padding: 15px 20px;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #fff;
}

.header .container .header__body .header__block1 .header__nav .header__btn .enter {
  background: #ef781a;
  margin-right: 30px;
}

.header .container .header__body .header__block1 .header__nav .header__btn .basket {
  background: #00d008;
}

.header .container .header__body .header__block2 .header__title {
  max-width: 1218px;
  margin: 0 auto;
}

.header .container .header__body .header__block2 .header__title > h1 {
  padding: 76px 0 30px;
}

.main .container {
  background-color: #ececec;
}

.main__body {
  max-width: 1218px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 250px;
}

.main__body > aside {
  flex-basis: 32.85%;
  padding-top: 6px;
}

.main__content {
  max-width: 774px;
  flex-grow: 1;
}

.main__menu {
  max-width: 559px;
  padding-bottom: 25px;
}

.main__menu .ul__menu {
  display: flex;
  justify-content: space-between;
}

.main__menu .ul__menu > li {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  color: #7b7b7b;
}

.main__about > h2 {
  margin-bottom: 30px;
}

.main__about .about__content {
  border-radius: 10px;
  background-color: #fff;
}

.main__about .about__content .ul__about {
  padding: 30px 0 30px 30px;
  max-width: 392px;
}

.main__about .about__content .ul__about li:nth-child(odd) {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
  margin-bottom: 8px;
  color: #999999;
}

.main__about .about__content .ul__about li:nth-child(even) {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
}

.main__about .about__content .ul__about li:last-child {
  margin: 0;
}

.main__aside {
  max-width: 400px;
  background-color: #fff;
}

.main__aside .aside__order {
  padding-bottom: 25px;
}

.main__aside .aside__order .order__text {
  margin: 0 auto;
  max-width: 292px;
  padding: 25px 0 30px;
}

.main__aside .aside__order .order__text > h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  margin-bottom: 30px;
}

.main__aside .aside__order .order__text .order__content .order__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main__aside .aside__order .order__text .order__content .order__description .description__name h4 {
  margin-bottom: 4px;
}

.main__aside .aside__order .order__text .order__content .order__description .description__name > ul li {
  position: relative;
  padding-left: 6px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.25;
  color: #979797;
}

.main__aside .aside__order .order__text .order__content .order__description .description__name > ul li:not(:last-child) {
  margin-bottom: 4px;
}

.main__aside .aside__order .order__text .order__content .order__description .description__name > ul li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: #979797;
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity {
  display: flex;
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background-color: #ff6c01;
  background-repeat: no-repeat;
  background-position: center;
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn__plus {
  background-image: url("../../img/+.svg");
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn__plus + div {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  padding: 4px 10px 0;
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn__minus {
  background-image: url("../../img/-.svg");
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity + div {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
}

.main__aside .aside__order .order__text .order__content .order__delivery {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
}

.main__aside .aside__order .make__order {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 368px;
  background-color: #ff6c01;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.main__aside .aside__order .make__order .btn__text {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.main__aside .aside__order .make__order .btn__text > div {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.footer .container {
  background-color: #323232;
}

.footer .container .footer__body {
  display: flex;
  justify-content: space-between;
  max-width: 1218px;
  margin: 0 auto;
}

.footer .container .footer__body .footer__left {
  padding: 39px 0;
}

.footer .container .footer__body .footer__left > a {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  color: #fff;
}

.footer .container .footer__body .footer__left .about__us {
  margin-right: 27px;
}

.footer .container .footer__body .footer__left .contacts {
  margin-right: 16px;
}

.footer .container .footer__body .footer__right {
  margin-top: 30px;
}

.footer .container .footer__body .footer__right > a {
  margin-left: 18px;
}

h1 {
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 1.22;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
}

h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
}

h4 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
}
