@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #ffdab9;
}

.container {
  max-width: 1940px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #fff;
}

.header .container {
  padding-bottom: 25px;
  background-color: #ececec;
}

.header .container .header__body {
  background-color: #fff;
  box-shadow: 0 10px 4px -2px rgba(0, 0, 0, 0.25);
}

.header .container .header__body .header__block1 {
  border-bottom: 1px solid #c4c4c4;
}

.header .container .header__body .header__block1 .header__nav {
  padding: 11px 0;
  background-color: #fff !important;
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 10px;
}

.header .container .header__body .header__block1 .header__nav .logo {
  margin-right: 100px;
  padding: 12px 0;
}

@media (max-width: 1220px) {
  .header .container .header__body .header__block1 .header__nav .logo {
    margin-right: 50px;
  }
}

.header .container .header__body .header__block1 .header__nav .input__town {
  flex-grow: 1;
  max-width: 500px;
}

@media (max-width: 992px) {
  .header .container .header__body .header__block1 .header__nav .input__town {
    margin-bottom: 20px;
  }
}

.header .container .header__body .header__block1 .header__nav input#location {
  width: 99%;
  padding: 15px 0 15px 45px;
  border: 2px solid #323232;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: url("../../img/location.svg");
  background-repeat: no-repeat;
  background-position: 15px, 14px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
}

.header .container .header__body .header__block1 .header__nav input#location::placeholder {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #a1a1a1;
}

.header .container .header__body .header__block1 .header__nav input#location:focus::placeholder {
  color: #fff;
}

.header .container .header__body .header__block1 .header__nav .header__btn {
  flex-grow: 1;
  display: flex;
  justify-content: right;
}

.header .container .header__body .header__block1 .header__nav .header__btn button {
  padding: 15px 20px;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #fff;
  opacity: 1;
}

.header .container .header__body .header__block1 .header__nav .header__btn button:hover {
  color: #000;
  transition: color 0.5s;
  opacity: 0.85;
}

.header .container .header__body .header__block1 .header__nav .header__btn .enter {
  background: #ef781a;
  margin-right: 30px;
}

@media (max-width: 992px) {
  .header .container .header__body .header__block1 .header__nav .header__btn .enter {
    margin-bottom: 20px;
  }
}

.header .container .header__body .header__block1 .header__nav .header__btn .basket {
  background: #00d008;
}

@media (max-width: 992px) {
  .header .container .header__body .header__block1 .header__nav .header__btn .basket {
    margin-bottom: 10px;
  }
}

.header .container .header__body .header__block1 .header__nav .header__btn .enter:focus,
.header .container .header__body .header__block1 .header__nav .header__btn .basket:focus {
  border: none;
  box-shadow: none;
  outline: 0 none;
}

.header .container .header__body .header__block2 .header__title {
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 10px;
}

.header .container .header__body .header__block2 .header__title > h1 {
  padding: 76px 0 30px;
}

.main .container {
  background-color: #ececec;
}

.main__body {
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 80px;
}

.main__body .section__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.main__body aside {
  flex-basis: 32.85%;
  padding-top: 6px;
}

@media (max-width: 992px) {
  .main__body {
    padding-bottom: 35px;
  }
}

.main__content {
  max-width: 774px;
  flex-grow: 1;
}

.main__menu {
  max-width: 559px;
  padding-bottom: 25px;
}

.main__menu .ul__menu {
  display: flex;
  justify-content: space-between;
}

.main__menu .ul__menu > li {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  transition: all 0.5s;
}

.main__menu .ul__menu > li > a {
  transition: all 0.5s;
  padding: 6px 8px;
  border-radius: 10px;
  color: #7b7b7b;
}

.main__menu .ul__menu > li:hover {
  transform: scale(1.4, 1.4);
  transition: all 0.5s;
}

.main__menu .ul__menu > li:hover > a {
  background-color: #c4c4c4;
  color: #343434;
  transition: all 0.5s;
}

@media (max-width: 992px) {
  .main__menu .ul__menu {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }
}

.main__grid {
  margin-bottom: 35px;
}

.main__grid .row:not(:last-child) {
  margin-bottom: 30px;
}

.main__grid .row > div {
  margin-bottom: 30px;
}

.main__grid .main__card {
  max-width: 230px;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  opacity: 1;
}

.main__grid .main__card:hover .card__img {
  opacity: 0.8;
}

.main__grid .main__card .card__img .img__food {
  max-width: 100%;
}

.main__grid .main__card .card__content {
  max-width: 181px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
  flex-grow: 1;
}

.main__grid .main__card .card__content .card__text h6 {
  margin-bottom: 10px;
}

.main__grid .main__card .card__content .card__text .span__description {
  display: block;
}

@media (max-width: 992px) {
  .main__grid .main__card .card__content .card__text h6,
  .main__grid .main__card .card__content .card__text .span__description {
    text-align: center;
  }
}

.main__grid .main__card .card__content .card__price {
  display: flex;
  justify-content: space-between;
  position: relative;
  perspective: 400px;
}

.main__grid .main__card .card__content .card__price svg {
  transition: all 0.25s;
}

.main__grid .main__card .card__content .card__price svg:hover {
  transform: scale(1.4, 1.4);
}

.main__grid .main__card .card__content .card__price svg:hover path {
  fill: #69a042;
  stroke: #69a042;
  transition: all 0.5s;
}

@media (max-width: 576px) {
  .main__grid .main__card .card__content .card__price svg {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 1220px) {
  .main__grid .main__card .card__content .card__price {
    padding: 25px 0 10px;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .main__grid .main__card .card__content .card__price {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .main__grid .main__card .card__content {
    max-width: 210px;
  }
  .main__grid .main__card .card__content .card__price {
    align-items: center;
  }
}

@media (max-width: 576px) {
  .main__grid .main__card .card__content {
    max-width: 100%;
    padding: 0 30px 15px;
  }
  .main__grid .main__card .card__content .card__text h6 {
    font-size: 3rem;
    padding-top: 15px;
  }
  .main__grid .main__card .card__content .card__text .span__description {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.main__grid .main__card:hover .h6__front {
  transform: rotateX(180deg);
}

.main__grid .main__card:hover .btn__basket {
  transform: rotateX(0deg);
}

.main__grid .main__card .btn__basket {
  position: absolute;
  padding: 10px 23px;
  background: #ff6c01;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.25;
  color: #fff;
  transform: rotateX(-180deg);
  bottom: 0;
  left: -10px;
}

@media (max-width: 1220px) {
  .main__grid .main__card .btn__basket {
    left: -10px;
    bottom: 5px;
  }
}

@media (max-width: 992px) {
  .main__grid .main__card .btn__basket {
    left: 0;
  }
}

@media (max-width: 576px) {
  .main__grid .main__card .btn__basket {
    left: 40px;
    bottom: 10px;
  }
}

@media (max-width: 428px) {
  .main__grid .main__card .btn__basket {
    left: -10px;
  }
}

.main__grid .main__card .btn__basket,
.main__grid .main__card .h6__front {
  transition: all 0.25s ease-in;
  backface-visibility: hidden;
}

@media (max-width: 576px) {
  .main__grid .main__card {
    max-width: 100%;
  }
  .main__grid .main__card .card__img .img__food {
    width: 100%;
  }
}

.main__about > h2 {
  margin-bottom: 30px;
}

.main__about .about__content {
  border-radius: 10px;
  background-color: #fff;
}

.main__about .about__content .ul__about {
  padding: 30px 0 30px 30px;
  max-width: 392px;
  margin-bottom: 68px;
}

.main__about .about__content .ul__about li:nth-child(odd) {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
  margin-bottom: 8px;
  color: #999999;
}

@media screen and (max-width: 576px) {
  .main__about .about__content .ul__about li:nth-child(odd) {
    font-size: 1rem;
  }
}

.main__about .about__content .ul__about li:nth-child(even) {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
}

@media screen and (max-width: 576px) {
  .main__about .about__content .ul__about li:nth-child(even) {
    font-size: 1rem;
  }
}

.main__about .about__content .ul__about li:last-child {
  margin: 0;
}

@media (max-width: 992px) {
  .main__about {
    margin-bottom: 35px;
  }
}

.main .arrow__up .arrow__block {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  transition: all 0.4s;
}

.main .arrow__up .arrow__block > svg {
  margin-top: 16px;
  transform: rotate(180deg);
}

.main .arrow__up .arrow__block:hover {
  transform: scale(1.4, 1.4) rotate(180deg);
  transition: all 0.5s;
}

.main__aside {
  max-width: 400px;
  background-color: #fff;
}

.main__aside .aside__order {
  padding-bottom: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.main__aside .aside__order .order__text {
  margin: 0 auto;
  max-width: 292px;
  padding: 25px 0 30px;
}

.main__aside .aside__order .order__text > h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  margin-bottom: 30px;
}

.main__aside .aside__order .order__text .order__content .order__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main__aside .aside__order .order__text .order__content .order__description .description__name h4 {
  margin-bottom: 4px;
}

.main__aside .aside__order .order__text .order__content .order__description .description__name > ul li {
  position: relative;
  padding-left: 6px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.25;
  color: #979797;
}

.main__aside .aside__order .order__text .order__content .order__description .description__name > ul li:not(:last-child) {
  margin-bottom: 4px;
}

.main__aside .aside__order .order__text .order__content .order__description .description__name > ul li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: #979797;
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity {
  display: flex;
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background-color: #ff6c01;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn:hover {
  opacity: 0.85;
}

@media (max-width: 992px) {
  .main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn {
    margin-top: 2px;
  }
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn__plus {
  background-image: url("../../img/+.svg");
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn__plus + div {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  padding: 4px 10px 0;
}

@media (max-width: 1220px) {
  .main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn__plus + div {
    padding-top: 0px;
  }
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity .btn__minus {
  background-image: url("../../img/-.svg");
}

.main__aside .aside__order .order__text .order__content .order__description .order__quantity + div {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
}

.main__aside .aside__order .order__text .order__content .order__delivery {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
}

.main__aside .aside__order .make__order {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 368px;
  background-color: #ff6c01;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  opacity: 1;
}

.main__aside .aside__order .make__order .btn__text {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.main__aside .aside__order .make__order .btn__text > div {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.main__aside .aside__order .make__order:hover {
  opacity: 0.9;
}

.footer .container {
  background-color: #323232;
}

.footer .container .footer__body {
  display: flex;
  justify-content: space-between;
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer .container .footer__body .footer__left {
  padding: 39px 0;
}

.footer .container .footer__body .footer__left > a {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  color: #fff;
}

.footer .container .footer__body .footer__left > a:hover {
  color: gold;
  transition: all 0.6s;
}

.footer .container .footer__body .footer__left .about__us {
  margin-right: 27px;
}

.footer .container .footer__body .footer__left .contacts {
  margin-right: 16px;
}

.footer .container .footer__body .footer__right {
  margin-top: 30px;
}

.footer .container .footer__body .footer__right > a {
  margin-left: 18px;
}

@media screen and (max-width: 688px) {
  .footer .container .footer__body .footer__right > a:not(:last-child) img {
    margin-bottom: 20px;
  }
}

h1 {
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 1.22;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
}

h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
}

h4 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
}

h5 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  padding-bottom: 5px;
}

h6 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22;
  color: #000;
}

.span__description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: #a1a1a1;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1220px) {
  html {
    font-size: 14px;
  }
  h1 {
    text-align: center;
  }
  .main__body .section__content {
    flex-direction: column;
    align-items: center;
  }
  .main__body .section__content aside {
    width: 100%;
  }
  .main__body .section__content aside .main__aside {
    margin: 0 auto;
  }
  .main__menu {
    margin: 0 auto;
  }
  .main__aside {
    max-width: 760px;
  }
  .main__aside .aside__order .order__text {
    max-width: 615px;
  }
  .main__aside .aside__order .make__order {
    max-width: 428px;
  }
  .main__about h2 {
    text-align: center;
  }
  .main .arrow__up .arrow__block {
    width: 80px;
    height: 80px;
  }
  .main .arrow__up .arrow__block svg {
    width: 100%;
    height: 62%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 16px;
  }
  .header__title {
    text-align: center;
  }
  .main__card, .main__menu {
    margin: 0 auto;
  }
  .main__grid h5 {
    text-align: center;
    padding-bottom: 13px;
  }
  .main .row {
    justify-content: center;
  }
  .main__aside {
    max-width: 565px;
  }
  .main__aside .aside__order .order__text {
    max-width: 382px;
  }
  .main__about .about__content .ul__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 25px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.8rem;
  }
}
