@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

html {
	font-size: 10px;
}

body {
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.142;
	color: #000;
}
h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}
h2 {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.14;
}
.span__h3 {
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.16;
}
.container {
	min-width: 820px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #f9e0ca;
}
.main {
	.main__body {
		padding: 90px 0;
		.grid {
			margin: 0 auto;
			padding: 27px 43px;
			max-width: 755px;
			border-radius: 20px;
			display: grid;
			gap: 19px;
			grid-template-columns: 250px 400px;
			grid-template-rows: 399px;
			background-color: #ffb084;
			.boy {
				display: grid;
				grid-template-rows: 319px 62px;
				row-gap: 18px;
				.boy__name {
					h1 {
						text-align: center;
						padding: 15px 0 15px;
					}
					.ellipse {
						text-align: center;
						margin-bottom: 17px;
					}
					ul {
						max-width: 200px;
						margin: 0 auto;
						font-size: 1.2rem;
						line-height: 1.16;
						.ul-item1,
						.ul-item2 {
							display: inline-block;
						}
						.ul-item1 {
							margin-right: 19px;
						}
						> li:not(li:last-child) {
							margin-bottom: 14px;
						}
					}
				}
				.boy__aim {
					h2 {
						max-width: 180px;
						margin: 0 auto;
						padding-top: 15px;
					}
				}
			}
			.description {
				display: grid;
				grid-template-columns: 400px;
				grid-template-rows: 117px 268px;
				row-gap: 14px;
				.bio {
					&__text {
						max-width: 350px;
						margin: 0 auto;
					}
					h2 {
						padding: 15px 0 7px;
					}
				}
				.other__puncts {
					display: grid;
					column-gap: 22px;
					grid-template-columns: 189px 189px;
					.goal__dream {
						display: grid;
						row-gap: 16px;
						grid-template-rows: 101px 151px;
						.goals {
							box-shadow: 7px 7px 0px #29a71e;
							.goals__text {
								max-width: 139px;
								margin: 0 auto;
								> h2 {
									color: #29a71e;
									padding: 15px 0 7px;
								}
							}
						}
						.dream__companies {
							box-shadow: 7px 7px 0px #3675b0;
							.dream__text {
								max-width: 139px;
								margin: 0 auto;
								> h2 {
									text-align: center;
									color: #3675b0;
									padding: 15px 0 7px;
								}
							}
						}
					}
					.frustration__personality {
						display: grid;
						row-gap: 14px;
						grid-template-rows: 165px 89px;
						.frustrations {
							box-shadow: 7px 7px 0px #e13535;
							.frustration__text {
								max-width: 139px;
								margin: 0 auto;
								> h2 {
									padding: 15px 0 7px;
									color: #e13535;
								}
								ul > li {
									padding-left: 20px;
								}
							}
						}
						.personality {
							.personality__text {
								max-width: 139px;
								margin: 0 auto;
								> h2 {
									padding: 15px 0 7px;
								}
							}
						}
					}
				}
			}
		}
		.cell {
			background-color: #fff;
			box-shadow: 7px 7px 0px #000000;
			border-radius: 20px;
		}
	}
}

ul.marker {
	li {
		position: relative;
		padding-left: 25px;
		&::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50px;
			background-color: #000;
			left: 13px;
			top: 6px;
		}
	}
}
