@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
}

.header {
	margin-bottom: 185px;
	&__nav {
		display: flex;
		background-color: #202846;
	}

	&__title {
		background-color: #C6C6DC;
		>h1{
			padding: 39px 0 39px 227px;
		}
	}
}
.nav {

	&__logo {
		margin-right: 293px;
		padding: 10px 0 10px 138px;	
	}

	&__flex {
		display: flex;
		align-items: center;
		>div{
			max-width: 208px;
			text-align: center;
			padding: 14px 0;
		
			font-weight: 700;
			font-size: 24px;
			line-height: 1.29;
			color: #FFFFFF;
			&:not(div:last-child){
				border-right: 4px solid #FFF;
			}
			&.planet{
				display: flex;
				align-items: center;
				&>img{
					margin-right: 8px;
				}
			}
		}
	}
}
.main {
	margin-bottom: 67px;
	>.container {
		max-width: 1489px;
		margin: 0 auto;
	}
}
.house {

	&__card {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		background-color: #bdbdc6;
		&:not(&:last-child){
			margin-bottom: 36px;
		}
	}

	&__img {
		padding: 28px 0;
	}

	&__description {
		max-width: 712px;
		align-self: center;
		& .line{
			border-bottom: 3px solid #fff;
			margin-bottom: 10px;
		}
	}

	&__text {
		padding: 21px 24px 28px 23px;

		font-weight: 400;
		font-size: 22px;
		line-height: 1.27;
		color: #202846;
		background: #D7D7DD;
		white-space: pre-line;
	}
}

.img__star{
	position: absolute;
	right: 17px;
	top: 17px;

	&:hover{
		fill: red;
	}
}

.btn {

	&_details {
		padding: 15px 40px;
		font-weight: 400;
		font-size: 24px;
		line-height: 1.29;
		color: #fff;
		background: #202846;
		border-radius: 30px;
		position: absolute;
		bottom: 10px;
		right: -48px
	}
}


.footer {

	&__text {
		padding: 22px 0 22px 60px;
		font-style: italic;
		font-weight: 400;
		font-size: 36px;
		line-height: 1.3;
		color: #EEECF1;
		background: #202846;
	}
}
.container {
	max-width: 1920px;
	margin: 0 auto;
}



h1{
	font-weight: 400;
	font-size: 48px;
	line-height: 1.29;
	color: #202846;
}
h2{
	font-style: italic;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.3;
	color: #353C57;
}