@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap');

html{
	font-size: 10px;
}

body {
	font-family: 'Poppins';
	font-style: normal;
	background-color: #212529;
	cursor: url("../../img/arrow.cur"), auto;
	& a, button{
		cursor: url("../../img/hand.cur"), auto;
	}

}
.container{
	max-width: 1440px;
	margin: 0 auto;
}
.header__body{
	max-width: 1342px;
	margin: 0 auto 108px auto;
	padding-top: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	padding: 8px 0;
}

.header__nav{
	max-width: 429px;
}
.ul__nav{
	padding: 10px;
	display: flex;
	&>a{
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 1.5;
		color: #FFFFFF;
		&:hover{
			transition: all .4s;
			color: #FFB742;
		}
		&:not(a:last-child){
			margin-right: 25px;
		}
	}
}
.btn__hire_me{
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.66;
	color: #212529;
	padding: 12px 26px;
	border-radius: 30px;
	background-color: #FFB742;
}


.introduce__body{
	max-width: 1296px;
	margin: 0 auto 137px auto;
	& .introduce{
		max-width: 961px;
		margin: 0 auto;
		margin-bottom: 136px;
		text-align: center;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 3.2rem;
		line-height: 1.59;
		color: #FFFFFF;
		& a.author__introduce{
			text-decoration: underline;
			color: #FFB742;
		}
		& .h1{
			font-weight: 400;
			font-size: 2.4rem;
			line-height: 2.125;
		}
	}
	& .statistic__list{
		display: flex;
		justify-content: space-between;
		& .list__item{
			width: 32.1%;	
			padding: 28px 40px;
			background-color: #292B2E;
			& .item__body{
				display: flex;
				justify-content: space-between;
				align-items: center;

				& .item__emblem{
					width: 64px;
					height: 64px;
					border-radius: 50px;
					position: relative;
					background-color: #e9e9e9;
					& img.emblem{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
				& .item__text{
					max-width: 159px;
					text-align: center;
	
					font-family: 'Inter';
					font-style: normal;
					font-weight: 700;
					font-size: 1.6rem;
					line-height: 1.93;
					color: #FFFFFF;
					& span.number{
						display: block;
						font-size: 3.2rem;
						line-height: 1.25;
						color: #FFB742;
					}
				}
			}
			&:hover{
				background-color: #ffb742;
				transition: all .5s;
				.item__text span.number, .item__text{
					color: #000;
					transition: all 1s;
				}
				svg path{
					fill: #000;
				}
			}
		}
	}
}

.section__about{
	max-width: 1342px;
	margin: 0 auto;
	& .about__body{
		display: flex;
		justify-content: space-between;
		margin-bottom: 65px;
		& .about__description{
			max-width: 682px;
			padding-top: 60px;
		}
	}
}
.work__body{
	max-width: 1234px;
	margin: 0 auto;
	padding-bottom: 116px;
	.title{
		display: block;
		max-width: fit-content;
		margin: 0 auto 25px auto;
	}
	>h2{
		text-align: center;
		line-height: 1.17;
		margin: 0 auto 30px;
	}
	& .work__list{
		max-width: 652px;
		margin: 0 auto;
		& ul{
			display: flex;
			justify-content: space-between;
			margin-bottom: 55px;
			& li{
				padding: 5px 20px;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 1.875;
				color: #fff;
				&:hover{
					color: #000;
					background-color: #ffb742;
					transition: all .8s;
				}
			}
		}
	}
}
.work__cards{
	display: flex;
	flex-wrap: wrap;
	gap: 31px;
}

.title{
	display: inline-block;
	margin-bottom: 25px;
	padding: 6px 25px;
	background-color: #33363a;
	color: #FFB742;
	border-radius: 50px;
	font-weight: 600;
	font-size: 2.0rem;
	line-height: 1.5;
}


.footer__body{
	padding: 148px 0 90px 0;
	background-color: #1c1c1c;
}
.footer__flex{
	max-width: 1342px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	& h6{
		margin-bottom: 15px;
	}
	& .work__sans a{
		font-family: 'Work Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 1.798rem;
		line-height: 2;
		color: #7B7B7B;
		&>li{
			width: fit-content;
		}
	}
	& a:active, h6:active, .author__name:active{
		color: #FFB742;
		transition: all .4s;
	}
	
}
.author{
	max-width: 231px;
	&__name{
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 3.2rem;
		line-height: 1;
		color: #D4D4D4;

	}
	&__activity{
		font-family: 'Work Sans';
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2;
		color: #D4D4D4;
	}
}
.newsletter{
	max-width: 300px;

}

h1{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1.9;
}

h2{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 0.625;
	color: #FFFFFF;
	margin-bottom: 30px;
}
h3{
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.875;
	color: #D5D5D5;
	margin-bottom: 66px;
}
h6{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 2.16rem;
	line-height: 1.49;
	color: #F5FBF2;
}