@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");

html {
	font-size: 10px;
}

body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	background-color: #ffdab9;
}
@mixin container__body {
	max-width: 1218px;
	margin: 0 auto;
}
.container {
	max-width: 1920px;
	margin: 0 auto;
	background-color: #fff;
}

.header {
	.container {
		padding-bottom: 25px;
		background-color: #ececec;
		.header__body {
			background-color: #fff;
			box-shadow: 0 10px 4px -2px rgba(0, 0, 0, 0.25);
			.header__block1 {
				border-bottom: 1px solid #c4c4c4;
				.header__nav {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 11px 0;
					.header__logo {
						display: flex;
						align-items: center;
						.logo {
							margin-right: 100px;
						}
						input#location {
							width: 500px;
							padding: 15px 0 15px 45px;
							border: 2px solid #323232;
							box-sizing: border-box;
							border-radius: 5px;
							background-image: url("../../img/location.svg");
							background-repeat: no-repeat;
							background-position: 15px, 14px;
							&::placeholder {
								font-weight: 500;
								font-size: 1.6rem;
								line-height: 1.25;
								color: #a1a1a1;
							}
							&:focus {
								background: none;
								&::placeholder {
									color: #fff;
								}
							}
						}
						.headerBtn {
							> a {
								padding: 15px 20px;
								display: inline-block;
								box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
								border-radius: 5px;
								font-weight: 700;
								font-size: 1.6rem;
								line-height: 1.1;
								color: #fff;
							}
							.enter {
								background: #ef781a;
								margin-right: 30px;
							}

							.basket {
								background: #00d008;
							}
						}
					}
					.header__btn {
						> a {
							padding: 15px 20px;
							display: inline-block;
							box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
							border-radius: 5px;
							font-weight: 700;
							font-size: 1.6rem;
							line-height: 1.1;
							color: #fff;
						}
						.enter {
							background: #ef781a;
							margin-right: 30px;
						}

						.basket {
							background: #00d008;
						}
					}
					@include container__body();
				}
			}
			.header__block2 {
				.header__title {
					> h1 {
						padding: 76px 0 30px;
					}
					@include container__body();
				}
			}
		}
	}
}

.main {
	.container {
		background-color: #ececec;
	}

	&__body {
		@include container__body();
		display: flex;
		justify-content: space-between;
		padding-bottom: 250px;
		> aside {
			flex-basis: 32.85%;
			padding-top: 6px;
		}
	}

	&__content {
		max-width: 774px;
		flex-grow: 1;
	}

	&__menu {
		max-width: 559px;
		padding-bottom: 25px;
		.ul__menu {
			display: flex;
			justify-content: space-between;
			> li {
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 1.22;
				> a {
					padding: 6px 8px;
					border-radius: 10px;
					color: #7b7b7b;
				}
				&:hover > a {
					background-color: #c4c4c4;
					color: #343434;
				}
			}
		}
	}

	&__grid {
	}

	&__about {
		> h2 {
			margin-bottom: 30px;
		}
		.about__content {
			border-radius: 10px;
			background-color: #fff;
			.ul__about {
				padding: 30px 0 30px 30px;
				max-width: 392px;
				li {
					&:nth-child(odd) {
						font-weight: 500;
						font-size: 1.4rem;
						line-height: 1.21;
						margin-bottom: 8px;
						color: #999999;
					}
					&:nth-child(even) {
						margin-bottom: 15px;
						font-weight: 500;
						font-size: 1.6rem;
						line-height: 1.25;
					}
					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}

	&__aside {
		max-width: 400px;
		background-color: #fff;
		.aside__order {
			padding-bottom: 25px;
			.order__text {
				margin: 0 auto;
				max-width: 292px;
				padding: 25px 0 30px;
				> h3 {
					font-weight: 500;
					font-size: 1.8rem;
					line-height: 1.22;
					margin-bottom: 30px;
				}
				.order__content {
					.order__description {
						display: flex;
						justify-content: space-between;
						margin-bottom: 30px;
						.description__name {
							h4 {
								margin-bottom: 4px;
							}
							> ul {
								li {
									position: relative;
									padding-left: 6px;
									font-weight: 500;
									font-size: 1.2rem;
									line-height: 1.25;
									color: #979797;
									&:not(:last-child) {
										margin-bottom: 4px;
									}
									&::before {
										content: "";
										position: absolute;
										top: 4px;
										left: 0;
										width: 4px;
										height: 4px;
										border-radius: 50px;
										background-color: #979797;
									}
								}
							}
						}
						.order__quantity {
							display: flex;
							.btn {
								width: 28px;
								height: 28px;
								border-radius: 50px;
								background-color: #ff6c01;
								background-repeat: no-repeat;
								background-position: center;
								&__plus {
									background-image: url("../../img/+.svg");
									& + div {
										font-weight: 500;
										font-size: 1.8rem;
										line-height: 1.22;
										padding: 4px 10px 0;
									}
								}
								&__minus {
									background-image: url("../../img/-.svg");
								}
							}
							& + div {
								font-weight: 500;
								font-size: 1.4rem;
								line-height: 1.21;
							}
						}
					}
					.order__delivery {
						display: flex;
						justify-content: space-between;
						font-weight: 500;
						font-size: 1.4rem;
						line-height: 1.21;
					}
				}
			}
			.make__order {
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 368px;
				background-color: #ff6c01;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 10px;
				.btn__text {
					display: flex;
					justify-content: space-between;
					padding: 20px 20px;
					> div {
						font-weight: 800;
						font-size: 18px;
						line-height: 22px;
						color: #fff;
					}
				}
			}
		}
	}
}

.footer {
	.container {
		background-color: #323232;
		.footer__body {
			display: flex;
			justify-content: space-between;
			@include container__body();
			.footer__left {
				padding: 39px 0;
				> a {
					font-weight: 500;
					font-size: 1.8rem;
					line-height: 1.22;
					color: #fff;
				}
				.about__us {
					margin-right: 27px;
				}
				.contacts {
					margin-right: 16px;
				}
			}
			.footer__right {
				margin-top: 30px;
				> a {
					margin-left: 18px;
				}
			}
		}
	}
}

h1 {
	font-weight: 800;
	font-size: 3.6rem;
	line-height: 1.22;
}
h2 {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1.2;
}
h3 {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.22;
}
h4 {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.21;
}
