body {
	background: blanchedalmond;
}

main{
	margin: 30px auto;
	max-width: 900px;
}

.grid{
	display: grid;
	grid-template-columns: repeat(3,1fr); // на цю команду в css з'являється 5 помилок, але код всеодно працює.
	gap: 20px;
	>div{
		height: 100px;
		background-color: aqua;
	}
}